.alertBody{
    position: fixed;
    bottom: 00;
    right: 0; 
    width: auto; 
    padding: 20px; 
    margin: 3em;
    border-left: 10px solid red;
    background-color: #f5675d; 
    color: white;
    text-align: center;
    border-radius: 2px;
    z-index: 9999;
}
.alertBody hr {
    width: 100%; 
    border: 0; 
    border-top: 1px solid #fFFFFF; 
    margin: 0;
    margin-bottom: 1em;
  }
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: safe;
}

svg {
margin-right: 5px;
font-size: 2em;
}