
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {

	padding: 0em;
	margin: 0em;
}

.corpo{
	background: linear-gradient(to right, rgb(172, 170, 170),  #aaaaaa);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100vw;
}

.img_class {
	height: 215px;
 }
 
 .h1_class {
	 font-weight: bold !important;
	 margin: 0;
 }
 
 .p_class {
	 font-size: 14px;
	 font-weight: 100;
	 line-height: 20px;
	 letter-spacing: 0.5px;
	 margin: 20px 0 30px;
 }
 
 .span_class {
	 font-size: 12px !important;
 }
 
 .a_class {
	 color: #333 !important;
	 font-size: 14px !important;
	 text-decoration: none !important;
	 margin: 15px 0 !important;
	 border-bottom: 1px solid black;
 }
 
 .header_class {
	 margin-bottom: 30px;
 }
 
 .button_class {
	 border-radius: 20px !important;
	 border: 1px solid #555557 !important;
	 background-color: #4f4f50 !important;
	 color: #FFFFFF !important;
	 font-size: 12px !important;
	 font-weight: bold !important;
	 width: 15em !important;
	 height: 3.5em !important;
	 letter-spacing: 1px !important;
	 text-transform: uppercase !important;
	 transition: transform 80ms ease-in !important;
	 margin-top: 1em !important;
 }
 
 .button_class:hover {
	 border: 1px solid #343435;
	 background-color: rgb(58, 57, 57);
 }
 
 .form_class {
	 background-color: #ffffff;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 padding: 0 50px;
	 height: 100%;
	 text-align: center;
 }
 
 .input_class {
	 background-color: #e4e4e4;
	 border: 10px !important;
	 border-radius: 10px;
	 padding: 12px 15px;
	 width: 100%;
	 margin: 8px !important;
 }	
 
 .input_class:hover {
	 background-color: #d1cfcf
 }
 
 .input_class:focus { 
	 border-color: #dc3545 !important;
 }
 
.container {
	background-color: #ffffff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form_container {
height: 100%;
width: 50%;
z-index: 2;
}



.overlay_panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	right: 0;
	background: linear-gradient(to right, white 50%,  #4f4f50);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
}




.social_container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}