@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: 2.5em;
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texts h3{
    color: red;
}

.texts img{
    width: 350px;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
}

.button button{
    padding: 1em 2em;
    background-color: #4f4f50;
    border: 1px solid #555557;
    border-radius: 15px;
    color: white;
}

.button button:hover{
    padding: 1em 2em;
    background-color: #3f3f3f;
    border: 1px solid #555557;
    border-radius: 15px;
    color: white;
}